# 密码配置文件 passwords.ini
# 当不方便配置SSH免密登录时使用
# 格式: 主机名 = 密码
# 注意: 用户名已在hosts.ini中指定，此处无需重复

# Web服务器密码
web1 = WebPass123!
web2 = WebPass456!
web3 = WebPass789!

# 数据库服务器密码
db1 = DbRootPass123
db2 = DbRootPass456

# 缓存服务器密码
cache1 = CachePass123

# 其他主机密码
backup = BackupPass2024
monitor = MonitorPass2024
